################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/PT4/.vs/PT4/v17/.suo
/PT4/packages/