<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="22.3.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.fr" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Schedule.Base" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Schedule.Windows" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="19.4.0.56" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="19.4.0.56" targetFramework="net472" />
</packages>